.__fale{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Grid principal */
.fale-grid{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px) saturate(160%);
    -webkit-backdrop-filter: blur(14px) saturate(160%);
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* Lado esquerdo */
.fale-info{
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fale-info h2{
    font-size: 28px;
    margin-bottom: 15px;
}

.fale-info p{
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.95;
}

/* Formulário */
.__form{
    padding: 40px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.__form h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

/* Inputs */
.__form input,
.__form textarea{
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px) saturate(160%);
    -webkit-backdrop-filter: blur(14px) saturate(160%);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    outline: none;
    transition: border 0.3s;
}

/* Botão */
.btn{
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #2a5298;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(120deg, #ffffff 4%, #eaeafa 30%, #ff38ee 40%, #2913f1 100%);
    font-weight: 600;
    transition: transform 0.1s ease;
}

/* Responsivo */
@media (max-width: 768px){
    .fale-grid{
        grid-template-columns: 1fr;
    }

    .fale-info{
        text-align: center;
    }
}
